.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CharacterSheet {
  width: 100%;
  aspect-ratio: 2 / 1;
  position: relative;
  background-size: cover;
  background-color: #282c34;
  overflow: hidden;
}

.PersonalInfo {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 25%;
  height: 10%;
  background-color: green;
}

.Name {
  position: absolute;
  box-sizing: border-box;
  top: 10%;
  left: 5%;
  width: 25%;
  height: 20%;
}

.Race {
  position: absolute;
  box-sizing: border-box;
  top: 30%;
  left: 5%;
  width: 25%;
  height: 20%;
}

.Background {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 5%;
  width: 25%;
  height: 20%;
}

.Level {
  position: absolute;
  box-sizing: border-box;
  top: 70%;
  left: 5%;
  width: 25%;
  height: 20%;
}

.Skills {
  position: absolute;
  box-sizing: border-box;
  top: 10%;
  left: 0;
  width: 25%;
  height: 40%;
  background-color: blue;
}

.Special {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 25%;
  width: 50%;
  height: 20%;
  background-color: red;
}

.ArmorAndStats {
  position: absolute;
  box-sizing: border-box;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 30%;
  background-color: orange;
}

.Weapons {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 75%;
  width: 25%;
  height: 40%;
  background-color: green;
}

.CapsAndLoad {
  position: absolute;
  box-sizing: border-box;
  top: 40%;
  left: 75%;
  width: 25%;
  height: 10%;
  background-color: yellow;
}

.TraitsAndPerks {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: black;
}

.Notes {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: grey;
}