*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #2c2c2c;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-group-container {
  position: absolute;
  background: rgba(255, 252, 240, 0.9); /* Parchment feel */
  border: 2px solid #5d4037;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  
  /* RESIZABLE LOGIC */
  resize: both; 
  overflow: hidden;
  min-width: 100px;
  min-height: 80px;
}

/* Customizing the resize handle (browser dependent, but helpful) */
.stat-group-container::-webkit-resizer {
  background-color: #5d4037;
  border-radius: 5px;
}

.group-label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #5d4037;
  border-bottom: 1px solid #d7ccc8;
  margin-bottom: 8px;
  text-transform: uppercase;
  /* pointer-events: none; */
}

.group-content {
  flex-grow: 1;
  position: relative; /* Allows nested absolute components inside the group */
}

.remove {
  position: absolute;
  right: 10px;
}
.parent {
  position: relative;
}

.parent span {
  cursor: pointer;
}
