*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #2c2c2c;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main {
  width: 100%;
  height: 100vh;
}

.Box {
  background-color: #1e1e1e;
  border: 1px solid #00ff00;
  color: #00ff00;
  touch-action: none;
}

.Drag-handle {
  background: #00ff00;
  color: black;
  padding: 5px;
  cursor: grab;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Box-content {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  pointer-events: auto;
}